:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-background: var(--color-white);
  --color-text: var(--color-black);
}

html,
body {
  background: var(--color-background);

  color: var(--color-text);

  font-family: monospace;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0%;

  transform: translateX(0%);
}

.introduction {
  position: fixed;
  top: 50%;
  right: 0%;

  text-align: left;

  transform: translate(0%, -50%);
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0%;

  transform: translateX(0%);
}
